papers/2018emnlp/.project
papers/2018emnlp/.pydevproject
papers/2018emnlp/.settings
papers/2018emnlp/data/input/sandhi-data-sentences-test.dat
papers/2018emnlp/data/input/sandhi-data-sentences-train.dat
papers/2018emnlp/data/input/sandhi-data-sentences-train.zip
papers/2018emnlp/data/input/sandhi-data-sentences-validation.dat
papers/2018emnlp/data/input/*.hdf5
dcs/data/rigveda/parallels.dat
papers/2020lrec/python/.project
papers/2020lrec/python/.pydevproject
papers/2020lrec/python/__pycache__/*
.Rproj.user
dcs/data/bloomfield-vedic-concordance/*